@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg"); }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff");
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.svg") format("svg"); }

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff");
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.svg") format("svg"); }

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/roboto-slab-regular.woff");
  src: url("../fonts/roboto-slab-regular.eot");
  src: url("../fonts/roboto-slab-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-regular.ttf") format("truetype"), url("../fonts/roboto-slab-regular.woff") format("woff"), url("../fonts/roboto-slab-regular.svg") format("svg"); }

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../fonts/roboto-slab-bold.woff");
  src: url("../fonts/roboto-slab-bold.eot");
  src: url("../fonts/roboto-slab-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-bold.ttf") format("truetype"), url("../fonts/roboto-slab-bold.woff") format("woff"), url("../fonts/roboto-slab-bold.svg") format("svg"); }

.page-node-type-sessions .main-container aside.col-sm-3 .block-views.session-speaker .views-row .views-field a:before {
  color: #fff;
  content: "\f028";
  font-size: inherit;
  display: inline-block;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  line-height: 100%;
  padding: 0 8px; }

.page-node-type-sessions .main-container aside.col-sm-3 .block-views.session-details .views-row .views-field .field-content:before {
  color: #fff;
  content: "\f05a";
  font-size: inherit;
  display: inline-block;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  line-height: 100%;
  padding: 0 8px; }

.page-node-type-sessions .main-container aside.col-sm-3 .block-views.session-track .views-row .views-field-field-session-track .field-content:before {
  color: #fff;
  content: "\f15c";
  font-size: inherit;
  display: inline-block;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  line-height: 100%;
  padding: 0 8px; }

.page-node-type-sessions .main-container aside.col-sm-3 .block-views.session-track .views-row .views-field-field-session-time .field-content:before {
  color: #fff;
  content: "\f073";
  font-size: inherit;
  display: inline-block;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  line-height: 100%;
  padding: 0 8px; }

.page-node-type-sessions .main-container aside.col-sm-3 .block-views .block-title {
  background: linear-gradient(to left, rgba(255, 0, 0, 0), white);
  color: #207dcc;
  padding: 10px;
  position: relative; }
  .page-node-type-sessions .main-container aside.col-sm-3 .block-views .block-title:before {
    background-color: #207dcc;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 100%; }
  .page-node-type-sessions .main-container aside.col-sm-3 .block-views .block-title:after {
    background-color: #207dcc;
    content: "";
    display: block;
    height: 100%;
    left: 5px;
    position: absolute;
    top: 0;
    width: 2px; }

.page-node-type-sessions .main-container aside.col-sm-3 .block-views .form-group {
  padding: 10px; }
  .page-node-type-sessions .main-container aside.col-sm-3 .block-views .form-group a {
    text-decoration: none; }

/*# sourceMappingURL=css-maps/dcm-session-detail.css.map */
