@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg"); }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff");
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.svg") format("svg"); }

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff");
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.svg") format("svg"); }

.track-content .track-row {
  margin: 0 0 30px;
  padding: 10px 0 10px 80px;
  position: relative; }
  .track-content .track-row:before {
    color: #337ab7;
    display: block;
    display: inline-block;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    left: 0;
    line-height: 100%;
    position: absolute;
    top: 7px; }
  .track-content .track-row#back-end-developement:before {
    content: "\f1c9";
    font-size: 60px; }
  .track-content .track-row#business:before {
    content: "\f0b1";
    font-size: 60px; }
  .track-content .track-row#dev-ops:before {
    content: "\f085";
    font-size: 60px; }
  .track-content .track-row#frontend:before {
    content: "\f1fc";
    font-size: 60px; }
  .track-content .track-row#building-community:before {
    content: "\f0c0";
    font-size: 60px; }
  .track-content .track-row#project-management:before {
    content: "\f0ae";
    font-size: 60px; }
  .track-content .track-row#site-building:before {
    content: "\f0e8";
    font-size: 60px; }
  .track-content .track-row#case-studies:before {
    content: "\f19d";
    font-size: 60px; }
  .track-content .track-row > h2 {
    background: linear-gradient(to left, rgba(255, 0, 0, 0), #337ab7);
    color: #fff;
    padding: 10px;
    position: relative; }
    .track-content .track-row > h2:before {
      background-color: #fff;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      top: 3px;
      width: 100%; }
    .track-content .track-row > h2:after {
      background-color: #fff;
      content: "";
      display: block;
      height: 100%;
      left: 5px;
      position: absolute;
      top: 0;
      width: 2px; }
  .track-content .track-row .session-data {
    padding: 10px; }

/*# sourceMappingURL=css-maps/dcm-tracks.css.map */
