@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg");
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.woff"); }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.svg") format("svg");
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.woff"); }

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.svg") format("svg");
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.woff"); }

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/roboto-slab-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-regular.ttf") format("truetype"), url("../fonts/roboto-slab-regular.woff") format("woff"), url("../fonts/roboto-slab-regular.svg") format("svg");
  src: url("../fonts/roboto-slab-regular.eot");
  src: url("../fonts/roboto-slab-regular.woff"); }

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../fonts/roboto-slab-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-bold.ttf") format("truetype"), url("../fonts/roboto-slab-bold.woff") format("woff"), url("../fonts/roboto-slab-bold.svg") format("svg");
  src: url("../fonts/roboto-slab-bold.eot");
  src: url("../fonts/roboto-slab-bold.woff"); }

.navbar-header {
  float: none; }

.navbar-toggle {
  display: block; }

.navbar-collapse.collapse {
  display: none !important; }

.navbar-nav {
  float: none !important; }

.navbar-nav > li {
  float: none; }

.navbar-collapse.collapse.in {
  display: block !important; }

.navbar.container {
  background-color: #fff;
  background-image: url(../images/top-banner.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  border: 0;
  margin: 0 auto;
  max-width: inherit;
  min-height: 562px;
  padding-top: 20px; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .navbar.container {
      background-size: 60%; } }
  @media screen and (max-width: 768px) {
    .navbar.container {
      background-size: 50%;
      min-height: 525px; } }
  .navbar.container .header-inner {
    margin: 0 auto; }
  .navbar.container .navbar-header {
    padding-bottom: 13px;
    position: relative;
    z-index: 1; }
    .navbar.container .navbar-header .region-navigation {
      position: absolute;
      right: 6%;
      top: 0; }
      .navbar.container .navbar-header .region-navigation #block-useraccountmenu {
        margin-top: -7px; }
        .navbar.container .navbar-header .region-navigation #block-useraccountmenu ul {
          margin: 0;
          padding: 0; }
          .navbar.container .navbar-header .region-navigation #block-useraccountmenu ul li a {
            background-color: #207dcc;
            border-radius: 34px;
            color: #fff;
            min-width: 125px;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase; }
            @media screen and (max-width: 768px) {
              .navbar.container .navbar-header .region-navigation #block-useraccountmenu ul li a {
                min-width: inherit;
                padding: 5px 15px; } }
    .navbar.container .navbar-header .navbar-toggle {
      border: 0;
      float: none;
      margin: auto;
      padding: 0; }
      .navbar.container .navbar-header .navbar-toggle:hover, .navbar.container .navbar-header .navbar-toggle:focus {
        background-color: transparent; }
      .navbar.container .navbar-header .navbar-toggle .icon-bar {
        background-color: #207dcc;
        border-radius: 4px;
        height: 4px;
        transition: all .5s ease-in-out 0s; }
        .navbar.container .navbar-header .navbar-toggle .icon-bar:nth-child(3) {
          margin-left: -4px; }
    .navbar.container .navbar-header.menu-open {
      background-color: #fff;
      height: 100%;
      left: 0;
      padding: 20px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3; }
      .navbar.container .navbar-header.menu-open .icon-bar:nth-child(2) {
        transform: rotate(-45deg) translate(-9px, 6px); }
      .navbar.container .navbar-header.menu-open .icon-bar:nth-child(3) {
        opacity: 0; }
      .navbar.container .navbar-header.menu-open .icon-bar:nth-child(4) {
        transform: rotate(45deg) translate(-5px, -3px); }
      .navbar.container .navbar-header.menu-open .region-navigation {
        display: none; }
  .navbar.container .navbar-collapse {
    border: 0;
    left: 0;
    margin: auto;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 370px; }
    @media screen and (max-width: 768px) {
      .navbar.container .navbar-collapse {
        width: 100%; } }
    .navbar.container .navbar-collapse #dcm-sticky-menu .nav > li {
      margin-bottom: 10px !important; }
    .navbar.container .navbar-collapse #dcm-sticky-menu .nav li {
      float: none;
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%; }
      @media (min-width: 769px) and (max-width: 1024px) {
        .navbar.container .navbar-collapse #dcm-sticky-menu .nav li .dropdown-backdrop {
          display: none; } }
      @media screen and (max-width: 768px) {
        .navbar.container .navbar-collapse #dcm-sticky-menu .nav li .dropdown-backdrop {
          display: none; } }
      .navbar.container .navbar-collapse #dcm-sticky-menu .nav li.open, .navbar.container .navbar-collapse #dcm-sticky-menu .nav li.active {
        background-color: #207dcc; }
        .navbar.container .navbar-collapse #dcm-sticky-menu .nav li.open a, .navbar.container .navbar-collapse #dcm-sticky-menu .nav li.active a {
          background-color: #207dcc;
          color: #fff; }
          .navbar.container .navbar-collapse #dcm-sticky-menu .nav li.open a.dropdown-toggle, .navbar.container .navbar-collapse #dcm-sticky-menu .nav li.active a.dropdown-toggle {
            border-bottom: 2px solid #78b2dd; }
      .navbar.container .navbar-collapse #dcm-sticky-menu .nav li a.is-active {
        background-color: #193d5b;
        font-size: 2.5em;
        line-height: 40px;
        padding: 15px 20px; }
        @media screen and (max-width: 768px) {
          .navbar.container .navbar-collapse #dcm-sticky-menu .nav li a.is-active {
            font-size: 2em;
            line-height: 35px;
            padding: 10px 20px; } }
      .navbar.container .navbar-collapse #dcm-sticky-menu .nav li.active .dropdown-menu {
        display: block; }
      .navbar.container .navbar-collapse #dcm-sticky-menu .nav li a {
        color: #78b2dd;
        font-size: 2em;
        line-height: 27px;
        text-align: center;
        text-decoration: none;
        transition: none; }
        @media screen and (max-width: 768px) {
          .navbar.container .navbar-collapse #dcm-sticky-menu .nav li a {
            font-size: 1.5em; } }
        .navbar.container .navbar-collapse #dcm-sticky-menu .nav li a.dropdown-toggle {
          margin: 0 15px; }
      .navbar.container .navbar-collapse #dcm-sticky-menu .nav li .dropdown-menu {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        float: none;
        margin: 0;
        padding: 0;
        position: static; }
        .navbar.container .navbar-collapse #dcm-sticky-menu .nav li .dropdown-menu li a {
          padding: 10px 20px; }
  .navbar.container .logo {
    margin: 0;
    padding: 0;
    left: 16.5%;
    position: absolute;
    z-index: 2; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .navbar.container .logo {
        left: 19.5%; } }
    @media screen and (max-width: 768px) {
      .navbar.container .logo {
        display: inline-block;
        float: none !important;
        margin: 0 auto;
        position: static; } }
    .navbar.container .logo img {
      height: 180px;
      max-width: inherit; }
  .navbar.container .top-container {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative; }
    @media screen and (max-width: 768px) {
      .navbar.container .top-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 1em;
        margin-top: 1em; } }
    .navbar.container .top-container .column-1 {
      color: #207dcc;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-preferred-size: 14%;
          flex-basis: 14%;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-preferred-size: 13%;
      margin-bottom: 14%;
      margin-left: 0;
      text-align: right;
      transform: rotate(270deg); }
      @media (min-width: 769px) and (max-width: 1024px) {
        .navbar.container .top-container .column-1 {
          -ms-flex-preferred-size: 23%;
              flex-basis: 23%;
          margin-left: -2%; } }
      @media screen and (max-width: 768px) {
        .navbar.container .top-container .column-1 {
          flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          margin: 0 auto;
          max-width: 300px;
          text-align: center;
          transform: none; } }
      .navbar.container .top-container .column-1 span:last-child {
        position: relative; }
        @media screen and (max-width: 768px) {
          .navbar.container .top-container .column-1 span:last-child {
            display: none; } }
        .navbar.container .top-container .column-1 span:last-child:after {
          background-color: #207dcc;
          content: "";
          height: 1px;
          left: -110%;
          position: absolute;
          top: 40%;
          width: 110%; }
    .navbar.container .top-container .column-2 {
      align-items: center;
      color: #207dcc;
      -ms-flex-align: center;
      flex-basis: 100%;
      -ms-flex-pack: center;
      -ms-flex-preferred-size: 100%;
      justify-content: center;
      margin-top: 150px; }
      @media screen and (max-width: 768px) {
        .navbar.container .top-container .column-2 {
          flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          margin-top: 0; } }
      .navbar.container .top-container .column-2 .inner {
        text-align: center;
        width: 30%; }
        @media (min-width: 769px) and (max-width: 1024px) {
          .navbar.container .top-container .column-2 .inner {
            width: 42%; } }
        @media screen and (max-width: 768px) {
          .navbar.container .top-container .column-2 .inner {
            width: 100%; } }
      .navbar.container .top-container .column-2 .header-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 1em; }
        @media screen and (max-width: 768px) {
          .navbar.container .top-container .column-2 .header-text {
            margin-top: 0; } }
        .navbar.container .top-container .column-2 .header-text h2 {
          color: #78b2dd;
          font-family: "Roboto Slab Bold", tahoma, Sans-Serif;
          font-size: 3em;
          line-height: 50px;
          -webkit-text-stroke-color: #3973a6;
          -webkit-text-stroke-width: 2px; }
      .navbar.container .top-container .column-2 img {
        max-width: 475px; }
      .navbar.container .top-container .column-2 a {
        background: url("../images/register-now.png") no-repeat scroll center center transparent;
        background-size: contain;
        color: transparent;
        display: inline-block;
        height: 78px;
        margin-top: 0;
        width: 215px; }
    .navbar.container .top-container .column-3 {
      align-items: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      flex-basis: 10%;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      -ms-flex-preferred-size: 10%;
      justify-content: center;
      margin-bottom: -16%; }
      @media screen and (max-width: 768px) {
        .navbar.container .top-container .column-3 {
          display: none; } }
      .navbar.container .top-container .column-3 a {
        background-size: cover;
        cursor: pointer;
        display: block;
        height: 20px;
        margin-bottom: 15px;
        opacity: 1;
        text-indent: -9999px;
        transition: .3s all ease;
        width: 20px; }
        .navbar.container .top-container .column-3 a:hover, .navbar.container .top-container .column-3 a:focus, .navbar.container .top-container .column-3 a:active {
          opacity: .7; }
        .navbar.container .top-container .column-3 a:first-child {
          position: relative; }
          .navbar.container .top-container .column-3 a:first-child:after {
            background-color: #207dcc;
            content: "";
            height: 203px;
            left: 0;
            position: absolute;
            top: -222px;
            width: 1px; }
    .navbar.container .top-container .facebook {
      background: url("../images/facebook.svg") no-repeat scroll 0 0 transparent; }
    .navbar.container .top-container .twitter {
      background: url("../images/twitter.svg") no-repeat scroll 0 0 transparent; }
    .navbar.container .top-container .linkedin {
      background: url("../images/linkedin.svg") no-repeat scroll 0 0 transparent; }
  @media screen and (max-width: 768px) {
    .navbar.container .banner {
      text-align: center; } }
  @media only screen and (max-width: 768px) {
    .navbar.container .top-container .column-3 {
      display: none; } }

/*# sourceMappingURL=css-maps/dcm-header.css.map */
