@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg"); }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff");
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.svg") format("svg"); }

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff");
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.svg") format("svg"); }

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/roboto-slab-regular.woff");
  src: url("../fonts/roboto-slab-regular.eot");
  src: url("../fonts/roboto-slab-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-regular.ttf") format("truetype"), url("../fonts/roboto-slab-regular.woff") format("woff"), url("../fonts/roboto-slab-regular.svg") format("svg"); }

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../fonts/roboto-slab-bold.woff");
  src: url("../fonts/roboto-slab-bold.eot");
  src: url("../fonts/roboto-slab-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-bold.ttf") format("truetype"), url("../fonts/roboto-slab-bold.woff") format("woff"), url("../fonts/roboto-slab-bold.svg") format("svg"); }

.path-frontpage .main-container {
  max-width: inherit;
  min-height: inherit;
  width: 100%; }
  .path-frontpage .main-container > .row {
    background-image: none;
    max-width: inherit;
    min-height: inherit;
    padding-top: 0;
    width: 100%; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .path-frontpage .main-container > .row {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 768px) {
      .path-frontpage .main-container > .row {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0; } }
  .path-frontpage .main-container .page-header,
  .path-frontpage .main-container nav.tabs {
    display: none; }

.block-views-blocksponsors-platinum-sponsors,
.block-views-blocksponsors-silver-sponsor-slideshow,
.block-views-blocksponsors-partners-slideshow,
.block-views-blocksponsors-gold-sponsors {
  background-color: #fff;
  clear: both;
  padding: 75px 0 50px;
  position: relative; }
  .block-views-blocksponsors-platinum-sponsors .block-title,
  .block-views-blocksponsors-silver-sponsor-slideshow .block-title,
  .block-views-blocksponsors-partners-slideshow .block-title,
  .block-views-blocksponsors-gold-sponsors .block-title {
    background-color: #78b2dd;
    color: #fff;
    font-size: 2.125em;
    left: 0;
    line-height: 40px;
    margin: auto;
    padding: 5px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -24px;
    width: 358px; }
    @media screen and (max-width: 768px) {
      .block-views-blocksponsors-platinum-sponsors .block-title,
      .block-views-blocksponsors-silver-sponsor-slideshow .block-title,
      .block-views-blocksponsors-partners-slideshow .block-title,
      .block-views-blocksponsors-gold-sponsors .block-title {
        width: 100%; } }
  .block-views-blocksponsors-platinum-sponsors .view-sponsors,
  .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors,
  .block-views-blocksponsors-partners-slideshow .view-sponsors,
  .block-views-blocksponsors-gold-sponsors .view-sponsors {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    text-align: center; }
    .block-views-blocksponsors-platinum-sponsors .view-sponsors .views-row,
    .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors .views-row,
    .block-views-blocksponsors-partners-slideshow .view-sponsors .views-row,
    .block-views-blocksponsors-gold-sponsors .view-sponsors .views-row {
      display: inline-block;
      margin: 0 20px 40px 0;
      text-align: center;
      vertical-align: middle;
      width: 22.5%; }
      @media (min-width: 769px) and (max-width: 1024px) {
        .block-views-blocksponsors-platinum-sponsors .view-sponsors .views-row,
        .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors .views-row,
        .block-views-blocksponsors-partners-slideshow .view-sponsors .views-row,
        .block-views-blocksponsors-gold-sponsors .view-sponsors .views-row {
          margin: 0 0 20px 0;
          width: 95%; } }
      @media screen and (max-width: 768px) {
        .block-views-blocksponsors-platinum-sponsors .view-sponsors .views-row,
        .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors .views-row,
        .block-views-blocksponsors-partners-slideshow .view-sponsors .views-row,
        .block-views-blocksponsors-gold-sponsors .view-sponsors .views-row {
          margin: 0 0 20px 0;
          width: 90%; } }
      .block-views-blocksponsors-platinum-sponsors .view-sponsors .views-row:nth-child(4n),
      .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors .views-row:nth-child(4n),
      .block-views-blocksponsors-partners-slideshow .view-sponsors .views-row:nth-child(4n),
      .block-views-blocksponsors-gold-sponsors .view-sponsors .views-row:nth-child(4n) {
        margin-right: 0; }
      .block-views-blocksponsors-platinum-sponsors .view-sponsors .views-row img,
      .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors .views-row img,
      .block-views-blocksponsors-partners-slideshow .view-sponsors .views-row img,
      .block-views-blocksponsors-gold-sponsors .view-sponsors .views-row img {
        margin: 0 auto;
        transition: all 300ms ease; }
        .block-views-blocksponsors-platinum-sponsors .view-sponsors .views-row img:hover,
        .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors .views-row img:hover,
        .block-views-blocksponsors-partners-slideshow .view-sponsors .views-row img:hover,
        .block-views-blocksponsors-gold-sponsors .view-sponsors .views-row img:hover {
          transform: scale(1.1); }
      .block-views-blocksponsors-platinum-sponsors .view-sponsors .views-row .views-field-title,
      .block-views-blocksponsors-silver-sponsor-slideshow .view-sponsors .views-row .views-field-title,
      .block-views-blocksponsors-partners-slideshow .view-sponsors .views-row .views-field-title,
      .block-views-blocksponsors-gold-sponsors .view-sponsors .views-row .views-field-title {
        display: none; }
  .block-views-blocksponsors-platinum-sponsors .view-footer .btn,
  .block-views-blocksponsors-silver-sponsor-slideshow .view-footer .btn,
  .block-views-blocksponsors-partners-slideshow .view-footer .btn,
  .block-views-blocksponsors-gold-sponsors .view-footer .btn {
    background-color: #207dcc;
    color: #fff; }

.block-views-blocksponsors-platinum-sponsors .block-title:before {
  background-image: url(../images/platinum.png);
  background-position: left 0;
  background-repeat: no-repeat;
  content: "";
  height: 85px;
  left: -86px;
  position: absolute;
  top: -16px;
  width: 86px; }
  @media screen and (max-width: 768px) {
    .block-views-blocksponsors-platinum-sponsors .block-title:before {
      display: none; } }

.block-views-blocksponsors-gold-sponsors .block-title:before {
  background-image: url(../images/gold.png);
  background-position: left 0;
  background-repeat: no-repeat;
  content: "";
  height: 85px;
  left: -86px;
  position: absolute;
  top: -16px;
  width: 86px; }
  @media screen and (max-width: 768px) {
    .block-views-blocksponsors-gold-sponsors .block-title:before {
      display: none; } }

.block-views-blocksponsors-silver-sponsor-slideshow .block-title:before {
  background-image: url(../images/silver.png);
  background-position: left 0;
  background-repeat: no-repeat;
  content: "";
  height: 85px;
  left: -86px;
  position: absolute;
  top: -16px;
  width: 86px; }
  @media screen and (max-width: 768px) {
    .block-views-blocksponsors-silver-sponsor-slideshow .block-title:before {
      display: none; } }

.socialConnect-block a {
  color: #207dcc;
  font-size: 0;
  margin-right: 5px; }
  @media screen and (max-width: 767px) {
    .socialConnect-block a {
      margin-bottom: 10px;
      display: inline-block; } }
  .socialConnect-block a:before {
    font-size: 33px;
    display: inline-block;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto; }
  .socialConnect-block a.icon-twitter:before {
    content: "\f081"; }
  .socialConnect-block a.icon-facebook:before {
    content: "\f082"; }
  .socialConnect-block a.icon-linkedin:before {
    content: "\f08c"; }
  .socialConnect-block a.icon-youtube:before {
    content: "\f167"; }

.path-frontpage #middle-content .region .drupal-recent-news .block-title,
.path-news #middle-content .region .drupal-recent-news .block-title {
  color: #fff;
  font-size: 2.429em;
  margin-bottom: 40px; }

.path-frontpage #middle-content .region .view-drupal-camp-news,
.path-news #middle-content .region .view-drupal-camp-news {
  background-image: url(../images/droper.png);
  background-position: top right -11px;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 135px 0 145px;
  position: relative; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .path-frontpage #middle-content .region .view-drupal-camp-news,
    .path-news #middle-content .region .view-drupal-camp-news {
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (max-width: 768px) {
    .path-frontpage #middle-content .region .view-drupal-camp-news,
    .path-news #middle-content .region .view-drupal-camp-news {
      padding: 135px 15px 100px; } }
  .path-frontpage #middle-content .region .view-drupal-camp-news .views-row,
  .path-news #middle-content .region .view-drupal-camp-news .views-row {
    border-bottom: 0;
    float: left;
    margin: 0 0 40px;
    padding: 0;
    width: 100%; }
    .path-frontpage #middle-content .region .view-drupal-camp-news .views-row:last-child,
    .path-news #middle-content .region .view-drupal-camp-news .views-row:last-child {
      margin-bottom: 0; }
    .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field,
    .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field {
      margin: 5px 0 0; }
      .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner,
      .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner {
        background-color: #fff;
        color: #207dcc;
        float: left;
        height: 85px;
        padding: 10px;
        position: relative;
        text-align: left;
        width: 85px; }
        .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner:before,
        .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner:before {
          background-color: #207dcc;
          content: "";
          height: 5px;
          left: 10px;
          position: absolute;
          top: 0;
          width: 5px; }
        .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner:after,
        .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner:after {
          background-color: #207dcc;
          content: "";
          height: 5px;
          position: absolute;
          right: 10px;
          top: 0;
          width: 5px; }
        .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner h1,
        .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner h1 {
          font-family: "Roboto Slab Bold", tahoma, Sans-Serif;
          font-size: 2.429em;
          margin-bottom: 0;
          padding-bottom: 5px !important;
          padding-top: 5px !important; }
        .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner h4,
        .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .date-mnth .inner h4 {
          font-family: "Roboto Slab Bold", tahoma, Sans-Serif;
          font-size: 2em;
          text-transform: uppercase !important; }
      .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper,
      .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper {
        padding-right: 25px; }
        @media screen and (max-width: 991px) {
          .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper,
          .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper {
            padding-right: 0; } }
        @media (min-width: 769px) and (max-width: 1024px) {
          .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper,
          .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper {
            margin-top: 10px; } }
        @media screen and (max-width: 768px) {
          .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper,
          .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper {
            margin-top: 10px; } }
        .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper .news-title a,
        .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper .news-title a {
          color: #fff;
          display: inline-block;
          font-family: "Roboto Slab Bold", tahoma, Sans-Serif;
          font-size: 1em;
          margin-bottom: 10px;
          margin-top: 0;
          text-decoration: initial; }
        .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper .news-body,
        .path-news #middle-content .region .view-drupal-camp-news .views-row .views-field .homepage-new .data-wrapper .news-body {
          color: #fff; }
    .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-more-link,
    .path-news #middle-content .region .view-drupal-camp-news .views-row .views-more-link {
      margin: 10px 12px;
      text-align: right; }
      .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-more-link a,
      .path-news #middle-content .region .view-drupal-camp-news .views-row .views-more-link a {
        border-left: 2px solid #fff;
        padding-left: 5px; }
        .path-frontpage #middle-content .region .view-drupal-camp-news .views-row .views-more-link a:after,
        .path-news #middle-content .region .view-drupal-camp-news .views-row .views-more-link a:after {
          content: " >>"; }

.path-news #middle-content .region .view-drupal-camp-news {
  background-image: none;
  margin: auto;
  max-width: inherit;
  padding: 0; }

#block-dcm2018-drupalapprenctices,
#block-dcm2018-joinda {
  background-color: #207dcc;
  color: #fff;
  padding: 150px 0 180px;
  position: relative; }
  @media (min-width: 769px) and (max-width: 1024px) {
    #block-dcm2018-drupalapprenctices,
    #block-dcm2018-joinda {
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (max-width: 768px) {
    #block-dcm2018-drupalapprenctices,
    #block-dcm2018-joinda {
      padding: 100px 15px; } }
  #block-dcm2018-drupalapprenctices .drupal-apprentice,
  #block-dcm2018-drupalapprenctices .join-drup-assoc,
  #block-dcm2018-joinda .drupal-apprentice,
  #block-dcm2018-joinda .join-drup-assoc {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    width: 1200px; }
    #block-dcm2018-drupalapprenctices .drupal-apprentice h2,
    #block-dcm2018-drupalapprenctices .join-drup-assoc h2,
    #block-dcm2018-joinda .drupal-apprentice h2,
    #block-dcm2018-joinda .join-drup-assoc h2 {
      font-size: 2.125em;
      line-height: 40px; }
    #block-dcm2018-drupalapprenctices .drupal-apprentice .btn,
    #block-dcm2018-drupalapprenctices .join-drup-assoc .btn,
    #block-dcm2018-joinda .drupal-apprentice .btn,
    #block-dcm2018-joinda .join-drup-assoc .btn {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 12px 10px; }
    #block-dcm2018-drupalapprenctices .drupal-apprentice .image-wrapper,
    #block-dcm2018-drupalapprenctices .join-drup-assoc .image-wrapper,
    #block-dcm2018-joinda .drupal-apprentice .image-wrapper,
    #block-dcm2018-joinda .join-drup-assoc .image-wrapper {
      text-align: right; }
      @media screen and (max-width: 768px) {
        #block-dcm2018-drupalapprenctices .drupal-apprentice .image-wrapper,
        #block-dcm2018-drupalapprenctices .join-drup-assoc .image-wrapper,
        #block-dcm2018-joinda .drupal-apprentice .image-wrapper,
        #block-dcm2018-joinda .join-drup-assoc .image-wrapper {
          text-align: left;
          margin-top: 20px; } }

.location-info {
  height: 566px; }

.location-info {
  position: relative; }
  .location-info .footer-copy {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.214em;
    left: 26%;
    margin: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    width: 310px;
    z-index: 1; }
    @media (min-width: 769px) and (max-width: 1024px) {
      .location-info .footer-copy {
        display: none; } }
    @media screen and (max-width: 768px) {
      .location-info .footer-copy {
        display: none; } }
    .location-info .footer-copy:before {
      border-bottom: 15px solid transparent;
      border-right: 15px solid rgba(0, 0, 0, 0.5);
      border-top: 15px solid transparent;
      bottom: 25px;
      content: "";
      display: inline-block;
      height: 0;
      left: -15px;
      position: absolute;
      width: 0; }
    .location-info .footer-copy p {
      margin-bottom: 10px; }
    .location-info .footer-copy .margin-bottom {
      margin: 0 0 25px; }

/*# sourceMappingURL=css-maps/dcm-homepage.css.map */
