@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg");
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.woff"); }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.svg") format("svg");
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.woff"); }

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.svg") format("svg");
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.woff"); }

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/roboto-slab-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-regular.ttf") format("truetype"), url("../fonts/roboto-slab-regular.woff") format("woff"), url("../fonts/roboto-slab-regular.svg") format("svg");
  src: url("../fonts/roboto-slab-regular.eot");
  src: url("../fonts/roboto-slab-regular.woff"); }

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("../fonts/roboto-slab-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-bold.ttf") format("truetype"), url("../fonts/roboto-slab-bold.woff") format("woff"), url("../fonts/roboto-slab-bold.svg") format("svg");
  src: url("../fonts/roboto-slab-bold.eot");
  src: url("../fonts/roboto-slab-bold.woff"); }

.path-attendees .main-container .block-views-blocksponsors-platinum-sponsors {
  padding: 30px 0; }
  .path-attendees .main-container .block-views-blocksponsors-platinum-sponsors:before {
    display: none; }
  .path-attendees .main-container .block-views-blocksponsors-platinum-sponsors .views-row {
    margin-bottom: 10px; }
  .path-attendees .main-container .block-views-blocksponsors-platinum-sponsors .view-footer {
    display: none; }

.view-attendees .view-filters form .form-item {
  display: inline-block;
  vertical-align: top;
  width: 26.5%; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .view-attendees .view-filters form .form-item {
      width: 45.5%; } }
  @media screen and (max-width: 768px) {
    .view-attendees .view-filters form .form-item {
      width: 100%; } }
  .view-attendees .view-filters form .form-item label {
    font-size: 15px; }

.view-attendees .view-filters form .form-actions .btn {
  margin-left: 15px;
  margin-right: 0;
  margin-top: 0;
  min-width: inherit; }
  @media (min-width: 769px) and (max-width: 1024px) {
    .view-attendees .view-filters form .form-actions .btn {
      margin-left: 0;
      margin-right: 10px; } }
  @media screen and (max-width: 768px) {
    .view-attendees .view-filters form .form-actions .btn {
      margin-left: 0;
      margin-right: 10px; } }
  .view-attendees .view-filters form .form-actions .btn:focus {
    box-shadow: none;
    outline: none; }
  .view-attendees .view-filters form .form-actions .btn#edit-reset {
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    padding: 3px 0; }
    .view-attendees .view-filters form .form-actions .btn#edit-reset:before {
      color: #fff;
      content: "\f021";
      font-size: 18px;
      display: inline-block;
      font-family: FontAwesome;
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-weight: normal;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: auto;
      margin: 0 10px 0 0;
      vertical-align: middle; }

.view-attendees .view-content {
  align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: stretch;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .view-attendees .view-content .slideanim {
    background-color: #207dcc;
    display: inline-block;
    margin: 0 10px 30px;
    text-align: center;
    transition: box-shadow .3s ease;
    vertical-align: top;
    width: 23.33%; }
    @media screen and (max-width: 1200px) {
      .view-attendees .view-content .slideanim {
        margin: 0 20px 30px 0;
        width: 48%; }
        .view-attendees .view-content .slideanim:nth-child(2n) {
          margin-left: 0;
          margin-right: 0; } }
    @media screen and (max-width: 768px) {
      .view-attendees .view-content .slideanim {
        margin: 0 auto 30px;
        width: 47%; } }
    @media screen and (max-width: 480px) {
      .view-attendees .view-content .slideanim {
        max-width: 240px;
        min-width: 250px;
        width: 100%; } }
    .view-attendees .view-content .slideanim:nth-child(4n) {
      margin-right: 0; }
      @media screen and (max-width: 1200px) {
        .view-attendees .view-content .slideanim:nth-child(4n) {
          margin-right: auto; } }
    .view-attendees .view-content .slideanim .attendees-page {
      position: relative; }
      .view-attendees .view-content .slideanim .attendees-page:before {
        border-left: 2px solid #fff;
        content: "";
        display: block;
        height: 100%;
        left: 10px;
        position: absolute;
        top: 0; }
      .view-attendees .view-content .slideanim .attendees-page:after {
        border-right: 2px solid #fff;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        right: 10px;
        top: 0; }
      .view-attendees .view-content .slideanim .attendees-page .team-attendees {
        margin: 0;
        max-width: 100%;
        padding: 40px 20px;
        position: relative; }
        .view-attendees .view-content .slideanim .attendees-page .team-attendees:before {
          border-bottom: 2px solid #fff;
          content: "";
          display: block;
          left: 0;
          position: absolute;
          top: 10px;
          width: 100%; }
        .view-attendees .view-content .slideanim .attendees-page .team-attendees:after {
          border-bottom: 2px solid #fff;
          bottom: 10px;
          content: "";
          display: block;
          left: 0;
          position: absolute;
          width: 100%; }
        @media screen and (max-width: 400px) {
          .view-attendees .view-content .slideanim .attendees-page .team-attendees {
            padding: 40px 15px 37px; } }
        .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-image a {
          -ms-flex-align: center;
              align-items: center;
          border-radius: 50%;
          box-shadow: 0 5px 20px rgba(255, 255, 255, 0.4);
          display: block;
          height: 121px;
          margin: 0 auto 20px;
          overflow: hidden;
          width: 121px; }
          @media screen and (max-width: 1010px) {
            .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-image a {
              height: 100px;
              width: 100px; } }
          @media screen and (max-width: 400px) {
            .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-image a {
              height: 74px;
              width: 74px; } }
        .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-name {
          color: #fff;
          font-size: 16px;
          line-height: 22px;
          padding-right: 0; }
          .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-name .attendees-name {
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            line-height: 30px;
            margin-bottom: 5px; }
            @media screen and (max-width: 1010px) {
              .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-name .attendees-name {
                font-size: 20px;
                line-height: 24px; } }
            .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-name .attendees-name a {
              color: #fff;
              text-decoration: none; }
          .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-name h3 {
            font-size: 16px;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            line-height: 20px;
            margin-bottom: 0; }
            @media screen and (max-width: 1010px) {
              .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-name h3 {
                font-size: 15px;
                line-height: 19px; } }
          .view-attendees .view-content .slideanim .attendees-page .team-attendees .user-name .user-profession a {
            color: #fff;
            font-size: 12px;
            text-decoration: none; }
        .view-attendees .view-content .slideanim .attendees-page .team-attendees .social-link {
          height: 22px;
          margin-top: 10px; }
          .view-attendees .view-content .slideanim .attendees-page .team-attendees .social-link a {
            color: #bce8f1;
            font-size: 20px;
            transition: all .5s ease-in-out 0s;
            margin-right: 5px;
            text-decoration: none; }
            .view-attendees .view-content .slideanim .attendees-page .team-attendees .social-link a:hover {
              color: #fff; }

/*# sourceMappingURL=css-maps/dcm-attendees.css.map */
