@import "component/dcm-variables";
@import "component/dcm-mixins";

// Note: !important used to override other css file.

.page-node-type-sessions {
  .main-container {
    aside.col-sm-3 {
      .block-views {
        &.session-speaker {
          .views-row {
            .views-field {
              a {
                &:before {
                  color: $white-color;
                  content: "\f028";
                  font-size: inherit;
                  @include base-fa;
                  line-height: 100%;
                  padding: 0 8px;
                }
              }
            }
          }
        }
        &.session-details {
          .views-row {
            .views-field {
              .field-content {
                &:before {
                  color: $white-color;
                  content: "\f05a";
                  font-size: inherit;
                  @include base-fa;
                  line-height: 100%;
                  padding: 0 8px;
                }
              }
            }
          }
        }
        &.session-track {
          .views-row {
            .views-field-field-session-track {
              .field-content {
                &:before {
                  color: $white-color;
                  content: "\f15c";
                  font-size: inherit;
                  @include base-fa;
                  line-height: 100%;
                  padding: 0 8px;
                }
              }
            }
            .views-field-field-session-time {
              .field-content {
                &:before {
                  color: $white-color;
                  content: "\f073";
                  font-size: inherit;
                  @include base-fa;
                  line-height: 100%;
                  padding: 0 8px;
                }
              }
            }
          }
        }
        .block-title {
          background: linear-gradient(to left,rgba(255,0,0,0),rgb(255, 255, 255));
          color: $blue-color;
          padding: 10px;
          position: relative;
          &:before {
            background-color: $blue-color;
            content: "";
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            top: 3px;
            width: 100%;
          }
          &:after {
            background-color: $blue-color;
            content: "";
            display: block;
            height: 100%;
            left: 5px;
            position: absolute;
            top: 0;
            width: 2px;
          }
        }
        .form-group {
          padding: 10px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
