@import "component/dcm-variables";
@import "component/dcm-mixins";

// Note: !important used to override other css file.

//attendees


.view-attendees {
  .view-content {
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    -ms-flex-flow: wrap row;
    flex-flow: wrap row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .slideanim {
      display: inline-block;
      margin: 0 auto 50px;
      vertical-align: top;
      width: 31%;
      @media screen and (max-width: 1200px) {
        max-width: 340px;
        width: 41%;
      }
      @media screen and (max-width: 767px) {
        margin: 0 auto 30px;
        width: 100%;
      }
      @media screen and (max-width: 400px) {
        max-width: 240px;
        min-width: 250px;
      }
      &:nth-child(3n) {
        margin-right: 0;
        @media screen and (max-width: 1200px) {
          margin-right: auto;
        }
      }
      .attendees-page {
        .team-attendees {
          align-items: flex-start;
          background-color: $blue-color;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: start;
          -ms-flex-pack: justify;
          justify-content: space-between;
          max-width: 100%;
          padding: 40px 20px 37px;
          position: relative;
          -webkit-transition: box-shadow .3s ease;
          transition: box-shadow .3s ease;
          @media screen and (max-width: 400px) {
            padding: 40px 15px 37px;
          }
          &:before {
            bottom: -1px !important;
            @include cross;
            left: 0;
            top: 0;
            transform: rotate(-3.2deg);
            z-index: -1;
          }
          &:hover {
            box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
          }
          .user-image {
            a {
              align-items: center;
              border-radius: 50%;
              box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
              display: -ms-flexbox;
              display: flex;
              -ms-flex-align: center;
              -ms-flex-pack: center;
              height: 121px;
              justify-content: center;
              margin-right: 10px;
              overflow: hidden;
              width: 121px;
              @media screen and (max-width: 1010px) {
                height: 100px;
                width: 100px;
              }
              @media screen and (max-width: 400px) {
                height: 74px;
                width: 74px;
              }
            }
          }
          .user-name {
            color: $white-color;
            font-size: 16px;
            line-height: 22px;
            padding-right: 0;
            width: 185px;
            .attendees-name {
              font-size: 24px;
              line-height: 27px;
              margin-bottom: 5px;
              @media screen and (max-width: 1010px) {
                font-size: 20px;
                line-height: 24px;
              }
              a {
                color: $white-color;
                text-decoration: none;
              }
            }
            h3 {
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 0;
              @media screen and (max-width: 1010px) {
                font-size: 15px;
                line-height: 19px;
              }
            }
            .user-profession {
              a {
                color: $white-color;
                font-size: 12px;
                text-decoration: none;
              }
            }
          }
          .social-link {
            margin-top: 10px;
            a {
              color: $blue-color1;
              font-size: 20px;
              margin-right: 5px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
