@import "component/dcm-variables";
@import "component/dcm-mixins";

// Note: !important used to override other css file.
.path-frontpage {
  .footer.container {
    padding-top: 0;
    @media (min-width: 769px) and (max-width: 1024px) {
      border-top: 0;
      padding-top: 0;
    }
    @media screen and (max-width: 768px) {
      border-top: 0;
      padding-top: 0;
    }
    // Top footer
    .top-footer {
      background-color: $blue-color;
      .col-lg-3 {
        @media screen and (max-width: 767px) {
          width: 48%;
        }
        h2 {
          color: $white-color;
        }
        .nav {
          li {
            a {
              color: $white-color;
              &:before {
                background: $white-color none repeat scroll 0 0;
              }
            }
          }
        }
      }
    }
    .region-footer {
      // Footer copyright
      .dcm2017-footer {
        border-top: 1px solid $white-color;
      }
    }
  }
  // Connect us block
  .socialConnect-block {
    a {
      color: $white-color;
    }
  }
}

.footer.container {
  background-color: $blue-color;
  border: 0;
  clear: both;
  margin: 0;
  max-width: inherit;
  overflow: hidden;
  padding: 30px 0 20px;
  position: relative;
  @media (min-width: 769px) and (max-width: 1024px) {
    padding-top: 20px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 20px;
  }

  // Top footer
  .top-footer {
    background-color: $white-color;
    padding: 85px 0 25px;
    @media (min-width: 769px) and (max-width: 1024px) {
      padding: 20px 0;
    }
    @media screen and (max-width: 768px) {
      padding: 20px 0;
    }
    .region-top-footer {
      margin: 0 auto;
      max-width: $page-width;
    }
    .col-lg-3 {
      h2 {
        color: $blue-color;
        font-family: $roboto-slab-bold;
        font-size: 1.3em;
        margin-bottom: 40px;
        @media (min-width: 769px) and (max-width: 1024px) {
          margin-bottom: 10px;
        }
        @media screen and (max-width: 768px) {
          margin-bottom: 10px;
        }
      }
      .nav {
        @include no-margin-padding;
        @media (min-width: 769px) and (max-width: 1024px) {
          margin-bottom: 20px;
        }
        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }
        li {
          list-style-type: none;
          margin: 0 0 15px;
          padding: 0;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: $blue-color;
            display: inline-block;
            padding: 0;
            text-decoration: none;
            &:before {
              background: $blue-color none repeat scroll 0 0;
              bottom: 0;
              content: "";
              height: 1px;
              @include base-transition;
              left: 0;
              position: absolute;
              right: 100%;
            }
            &:hover {
              &:before {
                right: 0;
              }
            }
          }
        }
      }
    }
    .connect-block {
      .powered-by {
        margin-top: 40px;
        @media (min-width: 769px) and (max-width: 1024px) {
          margin-top: 20px;
        }
        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }
        h2 {
          margin-bottom: 15px;
        }
      }
    }
  }

  .region-footer {
    border-top: 0;
    clear: both;
    margin: 0;
    padding: 0;

    // Footer copyright
    .dcm2017-footer {
      border-top: 0;
      color: $white-color;
      margin-bottom: 0;
      padding: 20px 0 0;
      text-align: center;
      width: 100%;
      z-index: 1;
      .container {
        max-width: inherit;
        padding: 0;
      }
      a {
        color: $white-color;
        text-decoration: none;
      }
      .dcm2017-footer-author-name {
        letter-spacing: 3.3px;
        text-transform: uppercase;
      }
      p {
        margin: 0 0 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
