@import "component/dcm-variables";
@import "component/dcm-mixins";

// Note: !important used to override other css file.

.track-content {
  margin-bottom: 20px;
  .track-row {
    border-bottom: 1px solid currentColor;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    &:last-child {
      border-bottom: 0;
      @include no-margin-padding;
    }
    &.back-end-developement h2:before {
      content: "\f1c9";
      font-size: 50px;
    }
    &.business h2:before {
      content: "\f0b1";
      font-size: 50px;
    }
    &.dev-ops h2:before {
      content: "\f085";
      font-size: 50px;
    }
    &.frontend h2:before {
      content: "\f1fc";
      font-size: 50px;
    }
    &.building-community h2:before {
      content: "\f0c0";
      font-size: 50px;
    }
    &.project-management h2:before {
      content: "\f0ae";
      font-size: 50px;
    }
    &.site-building h2:before {
      content: "\f0e8";
      font-size: 50px;
    }
    &.case-studies h2:before {
      content: "\f19d";
      font-size: 50px;
    }
    > h2 {
      align-items: center;
      color: $white-color;
      display: flex;
      font-family: $roboto-slab-bold;
      font-size: 1.429em;
      line-height: 24px;
      margin-bottom: 15px;
      padding: 10px 10px 10px 0;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      &:before {
        color: $base-color;
        display: block;
        @include base-fa;
        line-height: 100%;
        margin-right: 20px;
      }
    }
  }
}
