@import "component/dcm-variables";
@import "component/dcm-mixins";

// Note: !important used to override other css file.

.view-all-sessions {
  .views-row {
    border-bottom: 1px solid currentColor;
    margin: 0 0 30px;
    padding: 0 0 30px;
    position: relative;
    &:last-child {
      border-bottom: 0;
      @include no-margin-padding;
    }
    &.backend-development .views-field-name:before {
      content: "\f1c9";
      font-size: 50px;
    }
    &.business .views-field-name:before {
      content: "\f0b1";
      font-size: 50px;
    }
    &.dev-ops .views-field-name:before {
      content: "\f085";
      font-size: 50px;
    }
    &.frontend-development .views-field-name:before {
      content: "\f1fc";
      font-size: 50px;
    }
    &.building-community .views-field-name:before {
      content: "\f0c0";
      font-size: 50px;
    }
    &.project-management .views-field-name:before {
      content: "\f0ae";
      font-size: 50px;
    }
    &.site-building .views-field-name:before {
      content: "\f0e8";
      font-size: 50px;
    }
    &.case-studies .views-field-name:before {
      content: "\f19d";
      font-size: 50px;
    }
    .views-field-name {
      align-items: center;
      display: flex;
      margin-bottom: 20px;
      padding: 10px 0 10px 0;
      &:before {
        color: $base-color;
        display: block;
        @include base-fa;
        line-height: 100%;
        margin-right: 20px;
      }
      a {
        color: $white-color;
        display: block;
        font-family: $roboto-slab-bold;
        font-size: 1.429em;
        line-height: 22px;
        padding: 10px 10px 10px 0;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    .view-sessions {
      ul {
        @include no-margin-padding;
        li {
          background-color: $white-color;
          border-radius: 5px;
          box-shadow: 0 0 5px $gray-color1;
          color: $blue-color;
          display: inline-block;
          @include base-transition;
          list-style-type: none;
          margin: 0 20px 20px 0;
          padding: 15px;
          vertical-align: top;
          vertical-align: top;
          width: 23.33%;
          @media (min-width: 769px) and (max-width: 1024px) {
            width: 48%;
            &:nth-child(2n) {
              margin-right: 0;
            }
          }
          @media screen and (max-width: 768px) {
            margin-right: 0;
            width: 100%;
          }
          &:hover {
            background-color: #e2ecf7;
          }
          &:nth-child(4n) {
            margin-right: 0;
          }
          .views-field-title {
            a {
              color: $blue-color;
              display: block;
              font-family: $roboto-slab-bold;
              font-size: 1.071em;
              height: 61px;
              line-height: 19px;
              margin-bottom: 8px;
              overflow: hidden;
              padding-left: 25px;
              position: relative;
              text-decoration: none;
              @media screen and (max-width: 768px) {
                height: auto;
                overflow: visible;
              }
              &:before {
                color: $blue-color;
                content: "\f15c";
                @include base-fa;
                left: 0;
                margin: 0 10px 0 0;
                position: absolute;
                top: 1px;
              }
            }
          }
          .views-field-field-organisation {
            display: none;
          }
          .views-field-nothing {
            position: relative;
            &:before {
              background: linear-gradient(to left,rgba(255,0,0,0),#337ab7);
              content: "";
              display: block;
              height: 1px;
              margin: 0 0 8px;
            }
          }
          .speaker-name {
            color: $blue-color;
            @include text-overflow;
            &:before {
              color: $blue-color;
              content: "\f007";
              @include base-fa;
              margin: 0 15px 0 0;
            }
          }
          .speaker-org {
            color: $blue-color;
            @include text-overflow;
            &:before {
              color: $blue-color;
              content: "\f1ad";
              @include base-fa;
              margin: 0 15px 0 0;
            }
          }
        }
      }
    }
  }
}
