@import "component/dcm-variables";
@import "component/dcm-mixins";

// Note: !important used to override other css file.

.path-frontpage {
  .main-container {
    max-width: inherit;
    min-height: inherit;
    width: 100%;
    > .row {
      background-image: none;
      max-width: inherit;
      min-height: inherit;
      padding-top: 0;
      width: 100%;
      @media (min-width: 769px) and (max-width: 1024px) {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
      @media screen and (max-width: 768px) {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .page-header,
    nav.tabs {
      display: none;
    }
  }
}

// Sponsers block
.block-views-blocksponsors-platinum-sponsors,
.block-views-blocksponsors-silver-sponsor-slideshow,
.block-views-blocksponsors-partners-slideshow,
.block-views-blocksponsors-gold-sponsors {
  background-color: $white-color;
  clear: both;
  padding: 75px 0 50px;
  position: relative;
  .block-title {
    background-color: $blue-color2;
    color: $white-color;
    font-size: 2.125em;
    left: 0;
    line-height: 40px;
    margin: auto;
    padding: 5px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -24px;
    width: 358px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .view-sponsors {
    margin: 0 auto;
    max-width: $page-width;
    position: relative;
    text-align: center;
    .views-row {
      display: inline-block;
      margin: 0 20px 40px 0;
      text-align: center;
      vertical-align: middle;
      width: 22.5%;
      @media (min-width: 769px) and (max-width: 1024px) {
        margin: 0 0 20px 0;
        width: 95%;
      }
      @media screen and (max-width: 768px) {
        margin: 0 0 20px 0;
        width: 90%;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
      img {
        margin: 0 auto;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        &:hover {
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      .views-field-title {
        display: none;
      }
    }
  }
  .view-footer {
    .btn {
      background-color: $blue-color;
      color: $white-color;
    }
  }
}

.block-views-blocksponsors-platinum-sponsors {
  .block-title {
    &:before {
      background-image: url(../images/platinum.png);
      background-position: left 0;
      background-repeat: no-repeat;
      content: "";
      height: 85px;
      left: -86px;
      position: absolute;
      top: -16px;
      width: 86px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.block-views-blocksponsors-gold-sponsors {
  .block-title {
    &:before {
      background-image: url(../images/gold.png);
      background-position: left 0;
      background-repeat: no-repeat;
      content: "";
      height: 85px;
      left: -86px;
      position: absolute;
      top: -16px;
      width: 86px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.block-views-blocksponsors-silver-sponsor-slideshow {
  .block-title {
    &:before {
      background-image: url(../images/silver.png);
      background-position: left 0;
      background-repeat: no-repeat;
      content: "";
      height: 85px;
      left: -86px;
      position: absolute;
      top: -16px;
      width: 86px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

// Connect us block
.socialConnect-block {
  a {
    color: $blue-color;
    font-size: 0;
    margin-right: 5px;
    @media screen and (max-width: 767px) {
      display: inline-block;
      margin-bottom: 10px;
    }

    &:before {
      font-size: 33px;
      @include base-fa;
    }

    &.icon-twitter {
      &:before {
        content: "\f081";
      }
    }

    &.icon-facebook {
      &:before {
        content: "\f082";
      }
    }

    &.icon-linkedin {
      &:before {
        content: "\f08c";
      }
    }

    &.icon-youtube {
      &:before {
        content: "\f167";
      }
    }
  }
}

// Recent News
.path-frontpage,
.path-news {
  #middle-content {
    .region {
      .drupal-recent-news {
        .block-title {
          color: $white-color;
          font-size: 2.429em;
          margin-bottom: 40px;
        }
      }
      .view-drupal-camp-news {
        background-image: url(../images/droper.png);
        background-position: top right -11px;
        background-repeat: no-repeat;
        margin: 0 auto;
        max-width: $page-width;
        overflow: hidden;
        padding: 135px 0 145px;
        position: relative;
        @media (min-width: 769px) and (max-width: 1024px) {
          padding-left: 15px;
          padding-right: 15px;
        }
        @media screen and (max-width: 768px) {
          padding: 135px 15px 100px;
        }
        .views-row {
          border-bottom: 0;
          float: left;
          margin: 0 0 40px;
          padding: 0;
          width: 100%;
          &:last-child {
            margin-bottom: 0;
          }
          .views-field {
            margin: 5px 0 0;
            .homepage-new {
              .date-mnth {
                .inner {
                  background-color: $white-color;
                  color: $blue-color;
                  float: left;
                  height: 85px;
                  padding: 10px;
                  position: relative;
                  text-align: left;
                  width: 85px;
                  &:before {
                    background-color: $blue-color;
                    content: "";
                    height: 5px;
                    left: 10px;
                    position: absolute;
                    top: 0;
                    width: 5px;
                  }
                  &:after {
                    background-color: $blue-color;
                    content: "";
                    height: 5px;
                    position: absolute;
                    right: 10px;
                    top: 0;
                    width: 5px;
                  }
                  h1 {
                    font-family: $roboto-slab-bold;
                    font-size: 2.429em;
                    margin-bottom: 0;
                    padding-bottom: 5px !important;
                    padding-top: 5px !important;
                  }
                  h4 {
                    font-family: $roboto-slab-bold;
                    font-size: 2em;
                    text-transform: uppercase !important;
                  }
                }
              }
              .data-wrapper {
                padding-right: 25px;
                @media screen and (max-width: 991px) {
                  padding-right: 0;
                }
                @media (min-width: 769px) and (max-width: 1024px) {
                  margin-top: 10px;
                }
                @media screen and (max-width: 768px) {
                  margin-top: 10px;
                }
                .news-title {
                  a {
                    color: $white-color;
                    display: inline-block;
                    font-family: $roboto-slab-bold;
                    font-size: 1em;
                    margin-bottom: 10px;
                    margin-top: 0;
                    text-decoration: initial;
                  }
                }
                .news-body {
                  color: $white-color;
                }
              }
            }
          }

          .views-more-link {
            margin: 10px 12px;
            text-align: right;

            a {
              border-left: 2px solid $link-color;
              padding-left: 5px;
              &:after {
                content: " >>";
              }
            }
          }
        }
      }
    }
  }
}

.path-news {
  #middle-content {
    .region {
      .view-drupal-camp-news {
        background-image: none;
        margin: auto;
        max-width: inherit;
        padding: 0;
      }
    }
  }
}
// End Recent News

// Apprentice and Join DA
#block-dcm2018-drupalapprenctices,
#block-dcm2018-joinda {
  background-color: $blue-color;
  color: $white-color;
  padding: 150px 0 180px;
  position: relative;
  @media (min-width: 769px) and (max-width: 1024px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 768px) {
    padding: 100px 15px;
  }

  .drupal-apprentice,
  .join-drup-assoc {
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    width: $page-width;
    h2 {
      font-size: 2.125em;
      line-height: 40px;
    }
    .btn {
      background-color: transparent;
      border: 1px solid $white-color;
      color: $white-color;
      padding: 12px 10px;
    }
    .image-wrapper {
      text-align: right;
      @media screen and (max-width: 768px) {
        margin-top: 20px;
        text-align: left;
      }
    }
  }
}

// Map
.location-info {
  height: 566px;
}
.location-info {
  position: relative;
  .footer-copy {
    background-color: rgba(0, 0, 0, .5);
    color: $white-color;
    font-size: 1.214em;
    left: 26%;
    margin: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    width: 310px;
    z-index: 1;
    @media (min-width: 769px) and (max-width: 1024px) {
      display: none;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
    &:before {
      border-bottom: 15px solid transparent;
      border-right: 15px solid rgba(0, 0, 0, .5);
      border-top: 15px solid transparent;
      bottom: 25px;
      content: "";
      display: inline-block;
      height: 0;
      left: -15px;
      position: absolute;
      width: 0;
    }
    p {
      margin-bottom: 10px;
    }
    .margin-bottom {
      margin: 0 0 25px;
    }
  }
}
