// Variables
$basefont-size: 16px;
$small-font-size: 14px;
$baseline-height: 25px;
$base-color: #333;
$link-color: #0676c0;
$hover-color: $base-color;
$page-width: 1200px;
$border-color: #635f5f;
$header-bg: #61cae7;
$table-th: #626d83;
$btn-color: $link-color;
$btn-hover-color: $base-color;
$footer-bg: #337ab7;
$white-color: #fff;
$blue-color: #337ab7;
$blue-color1: #bce8f1;
$gray-color: #ccc;
$red-color: #f00;
$light-gray-color: #eee;
$gray-color1: #ddd;
$gray-color2: #666;
$gray-color3: #999;
$gray-color4: #333;
$gray-color5: #f6f6f2;
$gray-color6: #bbb;
// End Variables

// Fonts
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.svg") format("svg");
}

$open-sans: "Open Sans", tahoma, Sans-Serif;

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff");
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.svg") format("svg");
}

$raleway-regular: "Raleway-Regular", tahoma, Sans-Serif;

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff");
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.svg") format("svg");
}

$raleway-extrabold: "Raleway-ExtraBold", tahoma, Sans-Serif;
// End Fonts
